body{
	 padding-top: 20px;
}

.navigation{
	font-style: italic;
}

.row{
	border-bottom: 2px solid gray; 
	padding: 20px
}

.menu-text{
	text-align: left;
	font-weight: bold;
}

.column{
	padding: 20px;
}

img{
	width: 300px; 
	height: 225px;
}

.sticky-offset{
	top:60px;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}


