<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>El Espada</title>

<!-- Boot strap link with thmyeleaf so that it is dynamic-->
<link rel="stylesheet"
	href="../static/css/bootstrap.min.css"
		th:href="@{/css/bootstrap.min.css}"/>
		
<link rel="stylesheet"
	href="../static/css/stylesheet.css"
		th:href="@{/css/stylesheet.css}"/>
</head>

<body>

	<div class="container">
	<!-- Utilize thymeleaf fragment for nav bar so the contents only need to be changed in one place -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark navigation sticky-top" 
			th:replace="fragments/navigator :: navigator">

		</nav>

		<div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h2 class="mbr-section-subtitle text-center mbr-light pb-3 mbr-fonts-style display-2">Our Hours</h2>
                <p class="mbr-text text-center">
                  Please take a look at our hours below. Note that our lunch menu is only available from
                  11am to 3pm daily. <br>We look forward to serving you!
                </p>
                <div class="container">
				    <div class="col-md-12 text-center">
				      <ul class="text-left hours" style="display:inline-block;vertical-align:middle;">
				        <li>Sunday: 11am - 6pm</li>
				        <li>Monday: 11am - 9pm</li>
				        <li>Tuesday: 11am - 9pm</li>
				        <li>Wednesday: 11am - 9pm</li>
				        <li>Thursday: 11am - 9pm</li>
				        <li>Friday: 11am - 10pm</li>
				        <li>Saturday: 11am - 10pm</li>
				      </ul>
				    </div>
				  </div>

            </div>
        </div>
		




	</div>

</body>
</html>