<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>El Espada</title>
	
	<link th:href="@{/css/styles.css}" rel="stylesheet"/>
	
	<!-- Boot strap link -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body style="padding-top:20px">
<!-- 	<div class="jumbotron text-center" style="margin-bottom:0">
		
			<h1 style="font-style: italic; font-size: 60pt">El Espada</h1>
		
	</div>  -->
	<div class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark" >

    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="index">El Espada</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="hours">Hours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>
            
        </ul>
    </div>
</nav>

	<div class="row">
		<div class="column" style="padding: 20px">
			<h3>Menu Items</h3>
		</div>
	</div>
	<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
	<div class="row">
		<div class="col-md-6">
		<img style="width: 300px; height: 225px" src="https://deltaco.com/files/menu/item/machocomboburrito.png?v=3.0"/>
			
		</div>
	
	<div class="col-md-6">
		<p>Details will go here: something like the ingredients, calories, etc.</p>
		<button class="btn-success">Add to Order</button>
	</div>
	</div>
	</div>
	
	<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
	<div class="row">
		<div class="col-md-6">
		<img style="width: 300px; height: 225px" src="https://www.thespruceeats.com/thmb/uBtz5qXCR7wQvrkWwy7itLWhnXA=/4928x2772/smart/filters:no_upscale()/grilledchickenquesadillas-589de5343df78c47588d8584.jpg"/>
			
		</div>
	
	<div class="col-md-6">
		<p>Details will go here: something like the ingredients, calories, etc.</p>
		<button class="btn-success">Add to Order</button>
	</div>
	</div>
	</div>
	
	<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
	<div class="row">
		<div class="col-md-6">
		<img style="width: 300px; height: 225px" src="https://img.sndimg.com/food/image/upload/c_thumb,q_80,w_412,h_232/v1/img/recipes/15/28/6/Ak3G2OXFSZmMl7Ck5yig_tamales-sauce-5316.jpg"/>
			
		</div>
	
	<div class="col-md-6">
		<p>Details will go here: something like the ingredients, calories, etc.</p>
		<button class="btn-success">Add to Order</button>
	</div>
	</div>
	</div>
	
	<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
	<div class="row">
		<div class="col-md-6">
		<img style="width: 300px; height: 225px" src="https://themodernproper.sfo2.digitaloceanspaces.com/posts/2019/Chicken-Fajitas-7.jpg?mtime=20190814083857"/>
			
		</div>
	
	<div class="col-md-6">
		<p>Details will go here: something like the ingredients, calories, etc.</p>
		<button class="btn-success">Add to Order</button>
	</div>
	</div>
	</div>
	
	
	</div>
	
</body>
</html>