<!-- 
 * Copyright [2020] [ElEspada - Avengers-UIS Force - Software Engineering Capstone - Springfield, IL]
 *
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 
index page - 'home page' displays all menu items
and allows user to select what they would like to order.  -->

<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>El Espada</title>


<!-- Boot strap link with thmyeleaf so that it is dynamic-->
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" href="../static/css/stylesheet.css"
	th:href="@{/css/stylesheet.css}" />

<script type="text/javascript">
	var listMenuIds = "";
	/**
	 * Generates a comma separated string of all menu id's that the user added to order 
	 */
	function addToCart(menuId) {
		listMenuIds += menuId + ",";
		document.getElementsByName("menuIds")[0].setAttribute("value",
				listMenuIds);
		document.getElementById("success_msg").style.display = "block";
		myVar = setTimeout(close_successMsg, 3000);
		runOnLoad();
	}

	/**
	 * Show the Continue to Place Order button only when there are items in order
	 */
	function runOnLoad() {
		if (listMenuIds == "") {
			document.getElementById("continueToPlaceOrder").style.display = "none";
		} else {
			document.getElementById("continueToPlaceOrder").style.display = "block";
		}
	}

	/**
	 * Close the sucess notification after 3 seconds
	 */
	function close_successMsg() {
		document.getElementById("success_msg").style.display = "none";
	}
</script>

</head>

<body onload="runOnLoad();">
	<form th:action="@{/reviewOrder}" method="post" th:object="${espadaVO}">

		<input type="hidden" th:name="menuIds" th:value="${espadaVO.menuIds}" />
		<div class="container">

			<!-- Utilize thymeleaf fragment for nav bar so the contents only need to be changed in one place -->
			<nav
				class="navbar navbar-expand-md navbar-dark bg-dark navigation sticky-top"
				th:replace="fragments/navigator :: navigator"></nav>
			<button type="submit" id="continueToPlaceOrder"
				class="btn-success float-right sticky-top sticky-offset btn-lg"
				style="display: none; margin-top: 20px;">Continue to Place
				Order</button>

			<!-- The website should display all menu items.
			(Requirement 2.0.0)-->
			<div>
				<div class="column">
					<h1 class="menu-text">Menu Items</h1>

				</div>
			</div>
			
			<!-- Customer should see a success message after adding an item to order.
			(Requirement 2.4.5)-->
			<div id="success_msg" style="display: none; margin-top: 20px"
				class="alert alert-success alert-dismissible fade show sticky-top btn-lg">
				<button type="button" style="display: none; margin-top: 20px"
					class="close float-right sticky-top sticky-offset btn-lg"
					data-dismiss="alert" onclick="close_successMsg();">&times;</button>
				<strong>Success!</strong> Item added to order.
			</div>

			<div>
				<div class="column">
					<h3>Lunch Menu</h3>
				</div>
			</div>
			<!-- Lunch menu items should be provided.
			(Requirement 2.2.1)-->
			<div class="container" th:each="m : ${menu}"
				th:if="${m.menuType} == 'Lunch'">
				<div class="row">
				
				<!--Each menu item should display the menu item details next to it.
					(Requirement 2.3.0)-->
					<div class="col-sm">
						<h5 th:text="${m.menuName}"></h5>
						<img th:src="@{${'/images/' + m.menuImgSrc}}" class="rounded" />
					</div>
					
					<!--Customer should be able to order food online.
					(Requirement 2.1.0)-->
					<div class="col-sm">
						<p th:text="${m.menuDetails}"></p>
						<button type="button" class="btn-success" th:inline="text"
							th:onclick="'javascript:addToCart(\'' + ${m.menuId} + '\');'">Add
							to Order - [[${#numbers.formatCurrency(m.menuPrice)}]]</button>
					</div>
				</div>
			</div>


			<div>
				<div class="column">
					<h3>Dinner Menu</h3>
				</div>
			</div>

			<!-- Dinner menu items should be provided.
			(Requirement 2.2.2)-->
			<div class="container" th:each="m : ${menu}"
				th:if="${m.menuType} == 'Dinner'">
				<div class="row">
				
				<!--Each menu item should display the menu item details next to it.
					(Requirement 2.3.0)-->
					<div class="col-sm">
						<h5 th:text="${m.menuName}"></h5>
						<img th:src="@{${'/images/' + m.menuImgSrc}}" class="rounded" />
					</div>
					
					<!--Customer should be able to order food online.
					(Requirement 2.1.0)-->
					<div class="col-sm">
						<p th:text="${m.menuDetails}"></p>
						<button type="button" class="btn-success" th:inline="text"
							th:onclick="'javascript:addToCart(\'' + ${m.menuId} + '\');'">Add
							to Order - [[${#numbers.formatCurrency(m.menuPrice)}]]</button>
					</div>
				</div>
			</div>

			<div>
				<div class="column">
					<h3>Dessert Menu</h3>
				</div>
			</div>

			<!-- Lunch menu items should be provided.
			(Requirement 2.2.3)-->
			<div class="container" th:each="m : ${menu}"
				th:if="${m.menuType} == 'Dessert'">
				<div class="row">
				
				<!--Each menu item should display the menu item details next to it.
					(Requirement 2.3.0)-->
					<div class="col-sm">
						<h5 th:text="${m.menuName}"></h5>
						<img th:src="@{${'/images/' + m.menuImgSrc}}" class="rounded" />
					</div>

					<!--Customer should be able to order food online.
					(Requirement 2.1.0)-->
					<div class="col-sm">
						<p th:text="${m.menuDetails}"></p>
						<button type="button" class="btn-success" th:inline="text"
							th:onclick="'javascript:addToCart(\'' + ${m.menuId} + '\');'">Add
							to Order - [[${#numbers.formatCurrency(m.menuPrice)}]]</button>
					</div>
				</div>
			</div>

		</div>
	</form>
</body>
</html>