<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8" />
<title>El Espada</title>


<!-- Boot strap link with thmyeleaf so that it is dynamic-->
<link rel="stylesheet"
	href="../static/css/bootstrap.min.css"
		th:href="@{/css/bootstrap.min.css}"/>
</head>

<body style="padding-top: 20px">

	<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">

			<div class="mx-auto order-0">
				<a class="navbar-brand mx-auto" href="index">El Espada</a>
			</div>
			<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="about">About</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="hours">Hours</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="contact">Contact
							Us</a></li>

				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="column" style="padding: 20px">
				<h3>Menu Items</h3>
			</div>
		</div>
		<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
			<div class="row">
				<div class="col-md-6">
					<img style="width: 300px; height: 225px"
						src="../static/images/burrito.png"
						th:src="@{images/burrito.png}"
						class="rounded"
						alt="burrito"/>

				</div>

				<div class="col-md-6">
					<p>Details will go here: something like the ingredients,
						calories, etc.</p>
					<button class="btn-success">Add to Order</button>
				</div>
			</div>
		</div>

		<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
			<div class="row">
				<div class="col-md-6">
					<img style="width: 300px; height: 225px"
						src="../static/images/quesadilla.png"
						th:src="@{images/quesadilla.png}"
						class="rounded"
						alt="quesadilla"/>

				</div>

				<div class="col-md-6">
					<p>Details will go here: something like the ingredients,
						calories, etc.</p>
					<button class="btn-success">Add to Order</button>
				</div>
			</div>
		</div>

		<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
			<div class="row">
				<div class="col-md-6">
					<img style="width: 300px; height: 225px"
						src="../static/images/tamales.png"
						th:src="@{images/tamales.png}"
						class="rounded"
						alt="tamales"/>

				</div>

				<div class="col-md-6">
					<p>Details will go here: something like the ingredients,
						calories, etc.</p>
					<button class="btn-success">Add to Order</button>
				</div>
			</div>
		</div>

		<div class="row" style="border-bottom: 2px solid gray; padding: 20px">
			<div class="row">
				<div class="col-md-6">
					<img style="width: 300px; height: 225px"
						src="../static/images/fajitas.png"
						th:src="@{images/fajitas.png}"
						class="rounded"
						alt="fajitas"/>

				</div>

				<div class="col-md-6">
					<p>Details will go here: something like the ingredients,
						calories, etc.</p>
					<button class="btn-success">Add to Order</button>
				</div>
			</div>
		</div>


	</div>

</body>
</html>