<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>El Espada</title>


<!-- Boot strap link with thmyeleaf so that it is dynamic-->
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" href="../static/css/stylesheet.css"
	th:href="@{/css/stylesheet.css}" />

</head>

<body>
	<form method="post" enctype="multipart/form-data"
		th:action="@{/payment}">
		<input type="hidden" name="menuIds" />
		<div class="container">

			<!-- Utilize thymeleaf fragment for nav bar so the contents only need to be changed in one place -->
			<nav
				class="navbar navbar-expand-md navbar-dark bg-dark navigation sticky-top"
				th:replace="fragments/navigator :: navigator"></nav>



			<button type="submit"
				class="btn-danger float-right sticky-top sticky-offset btn-lg"
				style="margin-top: 20px;" th:formaction="@{/index}">Start
				Over</button>

			<button type="submit"
				class="btn-success float-right sticky-top sticky-offset btn-lg"
				style="margin-top: 20px; margin: 20px; margin-bottom: 0px">Continue
				to Payment</button>






			<div>
				<div class="column">
					<h2 class="menu-text">Review Order </h2>
					<strong>Order Id:<label th:text="${session.orderId}" th:unless="${session == null}" />
					<p>Order Total:<label th:text="${#numbers.formatCurrency(session.orderTotal)}" th:unless="${session == null}" /></p></strong>
				</div>
			</div>

			<div class="container" th:each="m : ${menu}">
				<div class="row">
					<div class="col-sm">
						<h5 th:text="${m.menuName}"></h5>
						<img th:src="@{${'/images/' + m.menuImgSrc}}" class="rounded" />

					</div>

					<div class="col-sm">
						<p th:text="${m.menuDetails}"></p>
						<p th:text="${#numbers.formatCurrency(m.menuPrice)}"></p>
						<a class="btn-success btn" role="button"
							th:href="@{/deleteItem/{menuId}(menuId=${m.menuId})}">Delete Item</a>
					</div>
				</div>
			</div>


		</div>
	</form>
</body>
</html>